bin/
SC
SCuser
MC
PbPb
PbPb2015
PbPb2015Pix
PbPb2015_cumu
pPb
test/*
!test/qw*.py
!test/crab_*.py
!test/run*.sh
!test/pPb_HM_eff.py
runConfig/*
!runConfig/qw*.py
!runConfig/crab_*.py
!runConfig/run*.sh
*.pyc
tmp/
