bin/
SC
SCuser
MC
PbPb
PbPb2015
PbPb2015Pix
PbPb2015_cumu
pPb
*.log
test/*
!test/qw*.py
!test/crab_*.py
!test/run*.sh
!test/pPb_HM_eff.py
run2/*
!run2/qw*.py
!run2/crab_*.py
!run2/run*.sh
*.pyc
tmp/
CrabArea/
